@font-face {
    font-family: 'eYekan';
    src: url('../font/eYekan/font.eot');
    src: url('../font/eYekan/font.eot#iefix') format('embedded-opentype'), url('../font/eYekan/font.woff') format('woff'), url('../font/eYekan/font.ttf') format('truetype'), url('../font/eYekan/font.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
}

* {
    font-family: eYekan, tahoma, serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
}

a {

}

a:hover {
    text-decoration: none;
    color: #EC1E20;
}

h2{
    line-height: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    line-height: 13px;
}

.red {
    color: #EC1E20 !important;
}

.underline {
    text-decoration: underline !important;
}

input, textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    color: #6D6D6D;
    outline: medium none;
    padding: 5px;
    font-family: eYekan, tahoma, serif;
    font-size: 12px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none;
    transition: none;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: none;
}

.top_menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #000000;
    color: #616163;
    font-size: 11px;
}

.top_menu .top_menu_main {
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    width: 1000px;
}

.top_menu .top_menu_main .left_links {
    float: left;
}

.top_menu .top_menu_main .right_links {
    float: right;
}

.top_menu .top_menu_main .left_links ul li {
    float: right;
    margin-bottom: -10px;
    padding: 0 3px 10px;
    position: relative;
}

.top_menu .top_menu_main .right_links ul li {
    float: right;
    margin-bottom: -10px;
    padding: 0 3px 10px;
    position: relative;
}

.top_menu .top_menu_main .left_links a {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}

.top_menu .top_menu_main a {
    color: #616163;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
}

.top_menu .top_menu_main a b {
    font-weight: normal;
}

.top_menu .top_menu_main a:hover {
    color: #EC1E20;
    text-decoration: none;
}

.header {
    position: relative;
    width: 1000px;
    margin: 4px auto 0;
}

.header .header_middle {
    padding-top: 3px;
    position: relative;
}

.header .header_middle .logo {
    float: right;
}

.header .header_middle .logo a {
    background-image: url(../images/felfel/logo.png);
    width: 205px;
    height: 62px;
    text-indent: -1000px;
    display: inline-block;
}

.header .header_middle .search_container {
    float: left;
    margin-top: 10px;
}

.header .header_middle .search_container .search_recommendation {
    color: #959597;
    font-size: 10px;
    margin-bottom: 3px;
    text-align: center;
    line-height: 12px;
}

.header .header_middle .search_container .search_recommendation a {
    color: #000000;
    text-decoration: none;
    font-size: 10px;
}

.header .header_middle .search_container .search_recommendation a:hover {
    color: #EC1E20;
}

.header .header_middle .search_bar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E3;
    float: right;
    padding: 2px 0 1px;
}

.header .header_middle .search_bar .submit {
    background: url("../images/felfel/search-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    float: left;
    height: 18px;
    margin-right: 0;
    margin-top: 3px;
    padding: 5px 11px 5px 7px;
    text-indent: -999999px;
    width: 20px;
    margin-left: 10px;
}

.header .header_middle .search_bar .srch_input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #A6A6A6;
    float: right;
    font-size: 12px;
    outline: medium none;
    padding: 5px 7px 5px 11px;
    width: 190px;
    margin-bottom: 0;
    height: 17px;
}

#searchForm .btn-group > .btn:first-child {
    border-radius: 0;
    background: none;
    border-width: 0;
    box-shadow: none;
    border-right: 1px solid #E2E2E3;
    padding-left: 5px;
    color: #a6a6a6;
}

#searchForm .dropdown-menu,
#searchForm .dropdown-menu .dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border-color: #E2E2E3;
    left: 100%;
    top: 5px;
}

#searchForm .dropdown-menu {
    left: -31px;
    top: 26px;
}

#searchForm .btn-group.open .btn.dropdown-toggle {
    background: none;
}

#searchForm .btn .caret {
    background: url(../images/felfel/search_icon.png) no-repeat center center;
    width: 18px;
    height: 17px;
    border-width: 0;
    margin: 0 5px 0 0;
}

#searchForm .dropdown-menu li > a:hover,
#searchForm .dropdown-menu li > a:focus,
#searchForm .dropdown-submenu:hover > a {
    background: white none;
    color: #EC1E20;
}

#searchForm .dropdown-submenu:hover > a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EC1E20;
}

.header .navigation {
    padding-top: 12px;
    position: relative;
    text-align: justify;
}

.header .navigation ul {
    border-bottom: 2px solid #E3E3E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 20;
    height: 24px;
    white-space: normal;
}

.header .navigation ul li {
    color: #575757;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.header .navigation ul li a {
    color: #575757;
    /*display: inline-block;*/
    padding-bottom: 8px;
    text-decoration: none;
}

.header .navigation ul li a span {
    font-size: 15px;
    line-height: 16px;
    /*display: inline-block;*/
    height: 16px;
}

.header .navigation ul li#span {
    display: inline-block;
    height: 1px;
    width: 100%;
}

.header .navigation .dropdown-menu {
    list-style-type: none;
    z-index: 20;
    color: #575757;
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-image: none;
    border: 1px solid #E3E3E3;
    border-top: medium none -moz-use-text-color;
    box-shadow: 0 3px 2px 0 #252525;
    float: left;
    width: 998px;
    border-radius: 0;
    top: 26px;
    padding: 0 0 10px;
}

.header .navigation .dropdown-menu ul {
    border-width: 0;
    height: auto;
}

.header .navigation .dropdown-menu ul li {
    display: block;
}

.header .navigation .dropdown-menu .heading {
    border-bottom: 1px solid #E3E3E3;
    color: #919191;
    font-size: 13px;
    margin-bottom: 0;
    padding: 7px 12px 7px 0;
    text-transform: none;
}

.header .navigation .dropdown-menu .heading a {
    color: #000000;
    font-size: 13px;
    text-decoration: underline;
    display: inline;
    padding: 0;
}

.navigation .dropdown-menu .links_container {
    padding: 10px 12px;
}

.navigation ul {
    border-bottom: 2px solid #E3E3E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 20;
}

.navigation .dropdown-menu .links_container ul {
    border-bottom: 0 none;
    float: right;
    padding: 0 10px 0 0;
    width: 170px;
}

.navigation .dropdown-menu .links_container ul li ul {
    float: none;
    padding: 0;
}

.navigation .dropdown-menu .links_container ul.border-right {
    border-right: 1px solid #E3E3E3;
}

.header .navigation ul li {
    color: #575757;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navigation .dropdown-menu .links_container ul li {
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.navigation .dropdown-menu .links_container ul.cat_hover_banner .free_shipping_hover {
    color: #000000;
    font-size: 14px;
    margin-top: 20px;
}

.navigation .dropdown-menu .links_container ul li a {
    color: #565656;
    font-size: 12px;
    line-height: 20px;
    padding: 0;
}

.navigation .dropdown-menu .links_container ul li li a {
    border-bottom: 0 none;
    color: #9D9D9D;
    text-decoration: none;
}

.navigation .dropdown-menu .links_container ul li a:hover {
    color: #EC1E20;
    background: none;
}

.navigation .dropdown-menu .links_container ul.cat_hover_banner .free_shipping_hover a {
    color: #000000;
}

.navigation .dropdown-menu .links_container ul.cat_hover_banner .free_shipping_hover .subtitle,
.navigation .dropdown-menu .links_container ul.cat_hover_banner .free_shipping_hover .subtitle a {
    color: #9D9D9D;
    font-size: 11px;
    line-height: 13px;
}

.navigation .dropdown-menu .links_container ul li .cat_slogan_banner {
    background: #FFFFFF;
    margin-right: -11px;
    padding-right: 10px;
    padding-top: 10px;
}

.navigation .dropdown-menu .links_container ul.shop_by_brands {
    float: left;
    width: 250px;
    padding: 0;
}

.navigation .dropdown-menu .links_container ul.shop_by_brands .title_div {
    border-bottom: 1px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    margin-bottom: 8px;
    margin-top: 5px;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.navigation .dropdown-menu .links_container ul.shop_by_brands ul {
    padding-left: 0;
    width: 250px;
}

.navigation .dropdown-menu .links_container ul.shop_by_brands ul li {
    float: right;
    line-height: 18px;
    width: 83px;
}

.header .navigation ul li.root a:hover {
    border-bottom: 2px solid #000000;
    margin-bottom: -2px;
}

.header .navigation .dropdown-menu a:hover {
    border-bottom-width: 0 !important;
    margin-bottom: 0 !important;
}

.header .navigation ul li a:hover {
    color: #EC1E20;
}

#link-basket-empty {
    background: url("../images/felfel/basket.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    height: 13px;
    margin: -10px;
    padding: 10px 10px 10px 32px;
}

#main {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

.breadcrumb {
    border-bottom: 1px solid #E0E0E0;
    color: #989393;
    font-size: 12px;
    padding: 5px 0;
    position: relative;
    background: none;
    border-radius: 0;
    margin: 0;
}

.breadcrumb a {
    color: #989393;
    text-decoration: none;
    line-height: 16px;
}

.breadcrumb a:hover {
    color: #EC1E20;
}

.breadcrumb a.home {
    background: url(../images/felfel/home.png) no-repeat center right;
    text-indent: -99999px;
    display: inline-block;
    width: 16px;
}

.breadcrumb a.home:hover {
    background-image: url(../images/felfel/home-hover.png);
}

.breadcrumb li:last-of-type a {
}

.breadcrumb .divider {
    padding: 0;
}

.new_selection_holder .new_heading {
    font-size: 14px;
}

.new_selection_holder .new_heading a {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.brands_collections_holder {
    border-bottom: 1px solid #DADADA;
    margin-top: 10px;
}

.new_selection_holder .selection_col_left {
    float: right;
    margin-left: 15px;
    width: 508px;
}

.new_selection_holder .selection_col_left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.new_selection_holder .selection_col_left ul li {
    float: right;
    font-size: 11px;
    margin-left: 9px;
}

.new_selection_holder .selection_col_left ul li p.sel_catimage {
    margin-bottom: 5px;
    margin-top: 11px;
}

.new_selection_holder .selection_col_left ul li p {
    margin: 0;
}

.clip_selection_block a {
    text-decoration: none;
}

.new_selection_holder .selection_col_left ul li p.sel_catimage a {
    border: 1px solid #D8D9D9;
    display: inline-block;
}

.new_selection_holder .selection_col_left ul li p.sel_catimage a:hover{
    border-color: #EC1E20;
}

a img {
    border: 0 none;
}

.new_selection_holder .selection_col_left ul li p {
    margin: 0;
}

.new_selection_holder .selection_col_left ul li p.sel_cattitle a {
    color: #616163;
    display: inline-block;
    height: 14px;
    max-width: 120px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new_selection_holder .selection_col_left {
    float: right;
    margin-left: 15px;
    width: 508px;
}

.new_selection_holder .selection_col_middle .middle_heading {
    border-bottom: 1px solid #C2C2C2;
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.new_selection_holder .selection_col_right {
    float: right;
    width: 150px;
}

.new_selection_holder .selection_col_middle {
    float: right;
    margin-left: 15px;
}

.new_selection_holder .selection_col_middle ul.last {
    margin-left: 0;
}

.new_selection_holder .selection_col_left ul li.last {
    margin-left: 0;
}

.new_selection_holder .selection_col_right .middle_heading {
    border-bottom: 1px solid #C2C2C2;
    color: #000000;
    font-size: 14px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.new_selection_holder .selection_col_middle ul {
    float: right;
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
    width: 150px;
}

.new_selection_holder .selection_col_middle ul.last {
    margin-left: 0;
}

.new_selection_holder .selection_col_middle ul li {
    font-size: 12px;
    line-height: 20px;
}

.new_selection_holder .selection_col_right ul li {
    font-size: 12px;
    line-height: 20px;
}

.new_selection_holder .selection_col_middle ul li a {
    color: #919191;
    text-decoration: none;
}

.new_selection_holder .selection_col_right ul li a {
    color: #919191;
    text-decoration: none;
}

.new_selection_holder .selection_col_middle ul li a:hover {
    color: #EC1E20;
}

.new_selection_holder .selection_col_right ul li a:hover {
    color: #EC1E20;
}

.new_selection_holder .selection_col_left ul li p.sel_cattitle a:hover {
    color: #EC1E20;
}

.new_selection_holder .selection_col_middle.banners_only ul {
    width: 140px;
}

.new_selection_holder .selection_col_middle.banners_only {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: -5px;
    margin-right: -10px;
    margin-top: -13px;
    padding-left: 10px;
    padding-right: 15px;
}

.new_selection_holder .selection_col_middle ul li img{
    margin-bottom: 10px;
}