*{
    font-family: tahoma,serif !important;
    font-size: 11px;
}

.clear-float{
    clear: both;
}

html{
    background: none;
}

body{
    padding-top: 0 !important;
    /*position: relative;*/
}

#main-container{
    min-width: 993px;
    position: relative;
}

#body-container{
    /*margin-top: 110px;*/
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    z-index: 0;
}

.navbar-fixed-top{
    z-index: 1000;
    position: absolute !important;
    margin-bottom: 0 !important;
    min-width: 993px !important;
}

/*Layout*/

.row-fluid{
    /*position: relative;*/
}

.layout-container{
    min-height: 100px;
    position: relative;
}

.span180{
    width: 180px !important;
    float: right !important;
    margin-right: 5px;
    margin-left: 0;
}

.span200{
    width: 200px !important;
    margin-left: 5px !important;
    float: left !important;
}

.span600{
    min-width: 593px !important;
    margin-right: 190px !important;
    margin-left: 210px !important;
    position: absolute;
}

.span415{
    margin-right: 191px !important;
    margin-left: 402px !important;
    position: absolute;
}

.span320{
    width: 320px !important;
    margin-left: 5px !important;
    float: left !important;
    padding-top:10px;
}

.span735{
    margin-right: 191px !important;
    margin-left: 5px !important;
    clear: left;
    width: 773px;
    float: right;
}

.container-fluid{
    padding: 5px;
}

.container{
    width: auto !important;
    min-width: 993px;
}

/*Thumbnails*/

.thumbnails > li{
    height: auto;
}

.thumbnail{
    text-align: center;
    overflow: hidden;
    height: 220px;
    position: relative;
    box-shadow: none;
    border-radius: 5px 5px 0 0 !important;
    border:1px solid #ffffff;
}

.row-fluid{
    min-height: 100px !important;
}

.row-fluid [class*="span"]{
    margin-right:5px;
}

.row-fluid .span3{
    width: 24.3043%;
}

.thumbnail:hover{
    box-shadow: 0 0 2px silver;
}

.thumbnail .content{
    position: absolute;
    left: 10px;
    right: 10px;
    top:10px;
}

.selectedThumbnail{
    box-shadow: 0 0 7px #cccccc !important;
    border-radius: 5px !important;
}

.thumbnail .main{
    height: 220px;
}

.thumbnail .extended div p{
    margin-right: -5px;
    margin-left: -5px;
}

.thumbnail .image{
    display: block;
    height: 150px;
    text-align: center;
    position: relative;
}

.thumbnail .image img{
}

.thumbnail .image > span{
    display: block;
    vertical-align: bottom;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail h4{
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    margin: 5px 0 0 0;
}

.thumbnail .price{
    display: block;
    text-align: right;
}

.thumbnail .price .old{
    text-decoration: line-through;
    font-size: 10px;
    color: Gray;
}

.thumbnail .price .current{
    color: #942a25;
}

.thumbnail .title:hover{
    color:#ff8c00;
}

.thumbnail .btn{
    padding-top:3px;
    padding-bottom:3px;
    height: 12px;
    line-height: 12px;
    margin: 5px 0 -3px 0;
}

.thumbnail .details{
    padding-right: -5px;
    padding-left: -5px;
    line-height: 12px;
    display:block;
    text-align: right;
    font-size: 10px;
    color: #808080;
}

.thumbnail h5{
    font-size: 11px;
    font-weight: normal;
    color: #ffffff;
    text-align: right;
    margin-right: -9px;
    margin-left: -9px;
    background-color: #ff4500;
    padding-right: 5px;
    padding-left: 5px;
}

.btn{
    font-size: 11px !important;
}

.thumbnail .btn-buy{
    padding-left:8px;
    padding-right:5px;
    height: 17px !important;
}

.thumbnail .btn-buy span{
    background-image: url(../images/icons/buy.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-right:20px;
    display: block;
    padding-top: 2px;
}

.thumbnail .btn-compare{
    padding-left:8px;
    padding-right:5px;
    height: 17px !important;
}

.thumbnail .btn-compare span{
    background-image: url(../images/icons/compare.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: block;
    min-width: 14px;
    height: 14px;
    padding-top: 2px;
    padding-right: 0;
}

.thumbnail .btn-wish{
    padding-left:8px;
    padding-right:5px;
    height: 17px !important;
}

.thumbnail .btn-wish span{
    background-image: url(../images/icons/wish.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: block;
    min-width: 14px;
    height: 14px;
    padding-top: 2px;
    padding-right: 0;
}

/*Navigation*/
.sidebar-nav .nav-list li.checkable a{
    padding-right: 23px;
    background-image: url(../images/controls/checkbox/not-checked.png);
    background-position: center right;
    background-repeat: no-repeat ;
}

.sidebar-nav .nav-list li.checkable a:hover{
    background-image: url(../images/controls/checkbox/not-checked-hover.png);
}

.sidebar-nav .nav-list li.checkable.active a{
    background-image: url(../images/controls/checkbox/checked.png);
    background-color: orange;
    color:#000000;
    text-shadow: none;
}

.sidebar-nav .nav-list li.checkable.active a:hover{
    background-image: url(../images/controls/checkbox/checked-hover.png);
}

#navigator_root{
    border-bottom: 1px solid #ffffff;
}

#navigator_appliance{
    background-image: url(../images/icons/digital.png);
    background-repeat: no-repeat;
    background-position: top center;
    height:24px;
    display: inline-block;
    text-align: center;
    padding-top:52px;
    margin-top:-9px;
    border-radius: 0 5px 0 0;
    border-left:1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    width: 88px;
}

#navigator_appliance:hover{
    background-color: #339ed6;
    text-decoration: none;
    color: #ffffff;
}

#navigator_digital{
    background-image: url(../images/icons/appliance.png);
    background-repeat: no-repeat;
    background-position: top center;
    height:24px;
    display: inline-block;
    text-align: center;
    padding-top:52px;
    margin-top:-9px;
    margin-right:-3px;
    margin-left:-1px;
    border-radius: 5px 0 0 0;
    border-right: 1px solid white;
    border-bottom: 1px solid #eeeeee;
    width: 88px;
}

#navigator_digital:hover{
    background-color: #81cf81;
    text-decoration: none;
    color: #ffffff;
}

#header1{
    height: 40px;
    background-color: #ffffff;
}

#header2{
    height: 56px;
    padding: 0 !important;
}

#logo{
    background-image: url(../images/logo.png);
    width: 88px;
    height: 60px;
    display: inline-block;
    margin:10px;
    margin-right: 50px;
    margin-top:20px;
    float:right;
}

#logo-small{
    background-image: url(../images/logo-small.png);
    width: 73px;
    height: 50px;
    margin:5px;
    margin-top:10px;
    margin-right: 55px;
    float: right;
    display: none;
}

#logo h1{display: none;}

#logo-small span{display: none;}

.search-box{
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 9px;
    margin-right:60px;
    float:right;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.075);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding: 3px;
    padding-top:0;
    border:1px solid #eeeeee !important;
}

.btn-group > .btn:first-child{
    margin-top:-2px;
}

input.search-query {
    border-radius: 0 !important;
    border-width: 0;
    /*border-top: 1px solid #CCCCCC;*/
    /*border-bottom: 1px solid #CCCCCC;*/
    box-shadow: none;
    width: 300px;
    margin-top:-1px;
    margin-bottom:2px;
}

#btn-search{
    margin-top:-1px;
    margin-left: -3px;
    margin-bottom: -3px;
}

#btn-search a{
    margin-top: 0;
    height: 27px;
}

#btn-search span{
    display: inline-block;
    background-image: url(../images/icons/btn-search.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    margin-bottom:0px;
    margin-right:-4px;
    margin-left: -4px;
    margin-top: 4px;
}

.btn-inverse-grey{
    background-color: #363636;
    background-image: -moz-linear-gradient(center top , #f4f4f4, #e7e7e7);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    border-color: #E6E6E6 #E6E6E6 #d3d3d3 !important;
    color: #000000;
    text-shadow: 0 -1px 0 #ffffff);
}

.dropdown-menu{
    min-width: 180px;
}

/*header1*/
#support-number{
    display: block;
    float: right;
    width: 88px;
    height: 30px;
    background-image: url(../images/support-number.png);
    text-indent: -99999px;
    margin-top:20px;
    margin-left:20px;
    position: absolute;
    right:520px;
}

#top-links{
    float: right;
    margin-right:70px;
    margin-top:14px;
    color:silver;
}
#top-links a{
    margin-right:5px;
    margin-left:5px;
}

#top-links a:hover{
    color:#ff4500;
    text-decoration: none;
}

#profile-menu{
    margin-left: 40px;
}

#profile-menu > a{
    background-image: url(../images/icons/user.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 18px;
}

#profile-menu.btn-group.open .dropdown-toggle{
    box-shadow: none;
}

#profile-menu a:hover{
    text-decoration: none;
}

#profile-menu .dropdown-menu
{
    left: 0;
    right: auto;
}

#profile-menu .caret{
    margin-top:10px;
    margin-right: 3px;
}

/*header2*/
#header2 .actions{
    float:right;
}

.topNavigationItem{
}

.topNavigationItem a.dropdown-toggle{
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
    display: inline-block;
    margin-right: 25px;
    width: 57px;
    height: 30px;
    margin-top:14px !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.topNavigationItem a.dropdown-toggle span{
    text-indent: -99999px;
    display: inline-block;
}

.topNavigationItem a.dropdown-toggle span.counter{
    text-indent: 0;
    font-weight: bold;
    font-size:12px;
    float:right;
}

.topNavigationItem a.dropdown-toggle:hover{
    text-decoration: none;
}

.topNavigationItem .dropdown-menu
{
    left: 0;
    right: auto;
}

#link-basket a.dropdown-toggle{
    background-image: url(../images/shopping_basket.png);
    margin-top:4px !important;
    width: 82px;
    height: 40px;
    color:#ffffff;
}

#link-basket a.dropdown-toggle span.counter{
    margin-right:56px;
    margin-top: -20px;
    font-size:20px;
    color: #ff8c00;
}

#basketItems .btn-warning{
    text-shadow: none;
}

#link-wishList a{
    background-image: url(../images/wish_basket.png);
}

#link-wishList a span.counter{
    margin-right:47px;
    margin-top: -9px;
}

#link-compareList a{
    background-image: url(../images/compare_basket.png);
    margin-right: 30px;
}

#link-compareList a span.counter{
    margin-right:50px;
    margin-top: -9px;
}

#link-profile a{
    display: none;
    background-image: url(../images/icons/user.png);
}

.actions .caret{
    margin-top: 15px;
    margin-right:3px;
}

.dropdown-menu.content{
    padding: 5px;
}

/*product*/
.product-image{
    border: 1px solid #cccccc;
    padding:10px;
    display: inline-block;
    margin:auto;
    border-radius: 5px;
    background-color: #eeeeee;
    margin-top:-10px;
    width: 300px;
}

.product-image img{
    border-radius: 5px;
}

.cloudzoom-gallery img{
    border: 1px solid #cccccc;
    padding:5px;
    display: inline-block;
    margin-top:10px;
    border-radius: 5px;
    background-color: #eeeeee;
}

/*product*/
.white-panel{
    padding:0 10px 0 10px;
}

h2{
    font-family: times !important;
    font-size: 24px;
    margin-bottom:10;
}

.brand-badge{
}

.brand-badge span{
}

.brand-badge b{
    padding: 2px 10px 2px 10px;
    display: inline-block;
    background-color: #fff3dc;
    border: 1px solid #ffeac2;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #ffffff;
}

.price{
    display: inline-block;
    text-align: right;
}

.price .old{
    text-decoration: line-through;
    font-size: 10px;
    color: Gray;
}

.price .current{
    color: #942a25;
}

.btn-buy{
    padding-left:8px;
    padding-right:5px;
    height: 17px !important;
}

.btn-buy span{
    background-image: url(../images/icons/buy.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-right:20px;
    padding-top: 2px;
}

.btn-compare{
    padding-left:8px;
    padding-right:5px;
    height: 17px !important;
}

.btn-compare span{
    padding-right:20px;
    background-image: url(../images/icons/compare.png);
    background-position: top right;
    background-repeat: no-repeat;
    min-width: 14px;
    height: 14px;
    padding-top: 2px;
}

.btn-wish{
    padding-left:8px;
    padding-right:5px;
    height: 17px !important;
}

.btn-wish span{
    padding-right:20px;
    background-image: url(../images/icons/wish.png);
    background-position: top right;
    background-repeat: no-repeat;
    min-width: 14px;
    height: 14px;
    padding-top: 2px;
}

h3{
    font-family: times !important;
    color: #ff8c00;
    font-size: 20px;
    margin-bottom: 0;
}

ul.attribute-list{
    margin-left: 0;
}

ul.attribute-list li{
    text-indent: 0;
    list-style-type: none;

}

/*basket items*/
.basket-item-image{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.basket-item-title{
    display: inline-block;
    width: 200px;
    height: 50px;
    padding:5px;
}

.basket-item-count{
    text-align: right;
    margin-top:5px;
}

#basketItems ul{
    margin:5px;
    margin-bottom: 10px;
}

#basketItems li{
    list-style: none;
    margin-bottom: 5px;
}

/*forms*/
.field-name{
    padding: 3px;
}

.field-value{

}

/*product review*/
span.cke_skin_kama{
    border:none !important;
    padding: 0 !important;
}

#reviewTitle{
    width: 500px;
}