*{
    font-family: tahoma !important;
    font-size: 11px;
}

body{
}

.thumbnails > li{
    height: auto;
}

.thumbnail{
    text-align: center;
    overflow: hidden;
    height: 220px;
    position: relative;
    border-width:0;
    box-shadow: none;
    border-bottom-style: dashed;
    border-radius: 5px 5px 0 0 !important;
}

.thumbnail:hover{
    box-shadow: 0 0 2px silver;
}

.thumbnail .content{
    position: absolute;
    left: 5px;
    right: 5px;
    top:10px;
}

.selectedThumbnail{
    box-shadow: 0 0 2px silver;
    border-radius: 5px 5px 0 0 !important;
}

.thumbnail .main{
    height: 220px;
}

.thumbnail .extended{
    border:1px solid #eeeeee;
    border-radius:5px;
    margin: -2px -26px 0 -26px;
    box-shadow: inset 0 0 1px #ffffff;
    max-height: 0;
    background: #f8f8f8;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#ffffff));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #f8f8f8);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #f8f8f8)
}

.thumbnail .extended > div{
    opacity: 0;
}

.thumbnail .image{
    display: block;
    height: 150px;
    text-align: center;
    position: relative;
}

.thumbnail .image img{
}

.thumbnail .image > span{
    display: block;
    vertical-align: bottom;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail h4{
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    margin: 5px 0 0 0;
}

.thumbnail .price{
    display: block;
    text-align: right;
}

.thumbnail .price .old{
    text-decoration: line-through;
    font-size: 10px;
    color: Gray;
}

.thumbnail .price .current{
    color: #942a25;
}

.thumbnail .title:hover{
    color:#ff8c00;
}

.thumbnail .btn-shop{
    width: 60%;
    padding-top:3px;
    padding-bottom:3px;
    height: 12px;
    line-height: 12px;
    margin: 5px auto -3px auto;
}

.thumbnail .details{
    padding-right: 5px;
    padding-left: 5px;
    line-height: 12px;
    display:block;
    text-align: right;
    font-size: 10px;
    color: #808080;
}

.btn{
    font-size: 11px !important;
}